*
*/**
**/.DS_Store
!node_modules/lodash
!package.json
!README.md
!CHANGELOG.md
!LICENSE.txt
!out/extension.js
!out/taskmonitor.js
!out/browserManager.js
!out/browserView.js
!out/browser/browserUi.js
!out/browser/styles.css
!assets/package_icon.png